:root {
  font-size: 18px;
}
* {
  box-sizing: border-box;
}
body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #93d5dc;
  background-image: url("/images/texture.png");
  background-repeat: repeat;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}
.info {
  padding: 16px;
}
pre {
  background-color: #e2e1e4;
  padding: 16px;
}
.head {
  height: 64px;
  background-color: #000;
  color: #fff;
  width: 100vw;
  padding: 16px;
}
